*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider{
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(0%,0%) ;
}

.slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    
}